@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");

:root {
  --black-color: #414141;
  --black-light-color: #707070;
  --gray-color: #b7b7b7;
  --gray-light-color: #e2e2e2;
  --white-color: #ffffff;
  --orange-color: #e36900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.modal-content {
  border: none;
  box-shadow: 0px 0px 30px #00000029;
  overflow: hidden;
}

.modal-content button {
  font-weight: 500;
  color: var(--black-light-color);
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  text-transform: capitalize;
}

.modal-body h3 {
  font-weight: 500;
  color: var(--black-color);
  text-transform: capitalize;
  font-size: 16px;
}

.modal-header button img {
  transform: rotate(90deg);
}

/* Filtros */

.modal-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.modal-filters div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.modal-filters div div {
  height: 40px;
  width: 100%;
  position: relative;
}

.modal-filters div span {
  font-size: 16px;
  font-weight: 500;
  color: var(--black-color);
}

.modal-filters div div label {
  box-shadow: inset 0px 0px 10px #00000048;
  border: 2px solid #e2e2e2;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  font-weight: 500;
  color: var(--black-color);
  position: relative;
  z-index: 1;
  user-select: none;
}

.modal-filters div div label::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  right: 10px;
  background-image: url("./assets/Flecha_positivo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-filters div ul {
  background: var(--white-color);
  list-style: none;
  width: 100%;
  margin-top: 5px;
  display: none;
  border-radius: 6px;
  padding: 6px 10px;
  max-height: 145px;
  overflow-y: scroll;
  flex-direction: column;
  box-shadow: 0px 3px 12px #65656545;
  cursor: pointer;
  position: absolute;
  top: 45px;
  z-index: 10;
  user-select: none;
}

.modal-filters div ul li:hover {
  background: var(--gray-light-color);
}

.modal-filters div ul:not(.list_numbers) li:nth-child(1) {
  padding: 15px 0;
}

.modal-filters div ul::-webkit-scrollbar {
  width: 5px;
}

.modal-filters div ul::-webkit-scrollbar-thumb {
  background: var(--gray-color);
  border-radius: 20px;
}

.modal-filters div ul li {
  padding: 5px 6px;
  font-weight: 300;
  color: var(--black-color);
}

.modal-filters div ul.list_numbers {
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px 10px 10px 15px;
}

.modal-filters div ul.list_numbers li {
  width: 100%;
  border-radius: 6px;
  color: var(--gray-color);
  text-align: center;
  font-weight: 500;
  border: 2px solid var(--gray-light-color);
}

.modal-filters div ul.list_numbers li.active {
  border: 2px solid var(--orange-color);
  background: var(--orange-color);
  color: var(--white-color);
}

.modal-filters div ul.list_numbers li:not(.active):hover {
  background: transparent;
  border: 2px solid var(--black-color);
}

.modal-filters div input[type="checkbox"] {
  display: none;
}

.modal-filters div input[type="checkbox"]:checked ~ ul {
  display: flex;
}

.modal-filters div input[type="checkbox"]:checked ~ label {
  border: 2px solid var(--orange-color);
}

/* Rangos */

#range1::after,
#range2::after {
  content: " m2";
}

#range3::before,
#range4::before {
  content: "$";
}

#range4::after {
  content: " millones";
}

.modal-ranges {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.modal-ranges div .wrapper {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  padding-right: 25px;
}

.modal-ranges div .container {
  position: relative;
  width: 100%;
  height: 40px;
}

.modal-ranges div input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.modal-ranges div .slider-track-1,
.modal-ranges div .slider-track-2 {
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.modal-ranges div input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
}

.modal-ranges div input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 2px;
}

.modal-ranges div input[type="range"]::-ms-track {
  appearance: none;
  height: 2px;
}

.modal-ranges div input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 3px solid var(--orange-color);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

.modal-ranges div input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--orange-color);
  pointer-events: auto;
}

.modal-ranges div input[type="range"]::-ms-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--orange-color);
  pointer-events: auto;
}

.modal-ranges div input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 4px solid var(--orange-color);
}

.modal-ranges div .values {
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  color: var(--black-color);
}

/* Amenidades */

.modal-amenities {
  display: grid;
  grid-template-columns: 1fr 150px;
  column-gap: 10px;
}

.list_checks ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--black-color);
  gap: 10px;
  margin-top: 10px;
}

.list_checks ul li label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  accent-color: var(--orange-color);
  cursor: pointer;
}

.list-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.list-buttons button:nth-child(1) {
  background: var(--orange-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 0;
}

.list-buttons button:nth-child(1) img {
  transform: rotate(-90deg);
  filter: grayscale(1) brightness(0) invert(1);
}

@media screen and (max-width: 920px) {
  .modal-content {
    padding-bottom: 35px;
  }

  .modal-filters {
    grid-template-columns: 1fr;
  }

  .modal-ranges {
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 0;
    margin: 20px 0;
  }

  .modal-amenities {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
    margin-top: 10px;
  }

  .list_checks {
    margin-bottom: 100px;
  }

  .list_checks ul {
    margin: 20px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-body {
    height: 75vh;
    overflow-y: scroll;
  }

  .list-buttons {
    background: white;
    position: fixed;
    left: 20px;
    bottom: 50px;
    width: calc(100% - 40px);
    z-index: 20;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 421px) and (max-width: 920px) {
  .modal-content {
    padding-bottom: 0;
  }

  .modal-body {
    height: unset;
  }

  .modal-amenities {
    row-gap: 10px;
  }

  .list_checks {
    margin-bottom: 0;
  }

  .list-buttons {
    position: relative;
    bottom: unset;
    margin-bottom: 0;
  }
}
